@font-face {
	font-family: main_font;
	src: url(file:///android_asset/fonts/jost.ttf);
}

:root {
    --main_heading_color: rgb(243, 156, 18);
}

body {
	font-family: 'main_font', Helvetica, Arial, sans-serif;
	padding: 2em;
	text-align: justify;
	text-justify: values;
	color: rgb(32, 32, 32);
}

h1 {
	font-family: 'main_font';
	text-align: left;
}

h2 {
	font-family: 'main_font';
}

h3 {
	color: rgb(16, 16, 16);
}

h4 {
	color: rgb(16, 16, 16);
}

li {
	color: rgb(32, 32, 32);
	text-align: left;
}

li::marker {
	color: grey;
}

p {
    color: rgb(32, 32, 32);
    text-align: left;
}

sub {
    color: rgb(32, 32, 32);
}

ul {
    color: rgb(32, 32, 32);
}

a:link {
	color: rgb(52, 152, 219);
	text-decoration: none;
	background-color: transparent;
}