@font-face {
	font-family: main_font;
	src: url(file:///android_asset/fonts/jost.ttf);
}

:root {
    --main_heading_color: rgb(243, 156, 18);
}

body {
	font-family: 'main_font', Helvetica, Arial, sans-serif;
	padding: 2em;
	text-align: justify;
	text-justify: values;
	color: rgb(32, 32, 32);
}

h1 {
	font-family: 'main_font';
	text-align: left;
}

h2 {
	font-family: 'main_font';
}

h3 {
	color: rgb(16, 16, 16);
}

h4 {
	color: rgb(16, 16, 16);
}

li {
	color: rgb(32, 32, 32);
	text-align: left;
}

li::marker {
	color: grey;
}

p {
    color: rgb(32, 32, 32);
    text-align: left;
}

sub {
    color: rgb(32, 32, 32);
}

ul {
    color: rgb(32, 32, 32);
}

a:link {
	color: rgb(52, 152, 219);
	text-decoration: none;
	background-color: transparent;
}

hr {
    height: 0.5px;
    border-width: 0px;
    background-color: grey;
}

code {
    border: 1px solid #f6f6f6;
    display: block;
    padding: 20px;
    width: auto;
}

/* Collapsible */

input[type='checkbox'] {
	display: none;
}

.wrap-collapsible {

}

.lbl-toggle {
	display: block;
	font-weight: bold;
	font-family: main_font;
	font-size: 1.5rem;
	text-align: left;
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.5s ease-out;
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .5s ease-out;
}

.toggle:checked+.lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
	max-height: 2000px;
}

.toggle:checked+.lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	background: transparent;
	padding: 1rem .5rem;
}

.collapsible-content p {
	margin-bottom: 0;
}

mark.red {
    color:#ff0000;
    background: none;
}