<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.simple.inure"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <permission
        android:name="inure.terminal.permission.RUN_SCRIPT"
        android:description="@string/permdesc_run_script"
        android:label="@string/perm_run_script"
        android:protectionLevel="dangerous" />

    <permission
        android:name="inure.terminal.permission.APPEND_TO_PATH"
        android:description="@string/permdesc_append_to_path"
        android:label="@string/perm_append_to_path"
        android:protectionLevel="dangerous" />

    <permission
        android:name="inure.terminal.permission.PREPEND_TO_PATH"
        android:description="@string/permdesc_prepend_to_path"
        android:label="@string/perm_prepend_to_path"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Inure"
        android:windowSoftInputMode="adjustPan"
        tools:ignore="AllowBackup">

        <activity
            android:name=".activities.app.MainActivity"
            android:configChanges="uiMode"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".terminal.Term"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/terminal"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.launcher.TerminalLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/terminal"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.preferences.PreferenceActivity"
            android:configChanges="uiMode"
            android:documentLaunchMode="intoExisting"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".terminal.WindowList"
            android:documentLaunchMode="intoExisting"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.association.AppDetailsActivity"
            android:exported="true"
            android:label="@string/app_info">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.apk" />
                <data android:pathPattern=".*\\..*\\.apk" />
                <data android:pathPattern=".*\\..*\\..*\\.apk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.apk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.apk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.apk" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.association.ApkInstallerActivity"
            android:enabled="false"
            android:exported="true"
            android:label="Package Installer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/xapk-package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.association.ImageActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="@string/image_viewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.launcher.AudioLauncherActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="uiMode|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="@string/audio_player"
            android:theme="@style/Inure.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.association.AudioPlayerActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="uiMode"
            android:documentLaunchMode="intoExisting"
            android:exported="false"
            android:theme="@style/Inure.Transparent"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.association.FullScreenAudioPlayerActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="uiMode"
            android:documentLaunchMode="intoExisting"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.association.TextViewerActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="@string/text_viewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="text/*" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="text/xml" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.association.TTFViewerActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="@string/ttf_viewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="font/ttf" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".activities.alias.TerminalAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_terminal"
            android:label="@string/terminal"
            android:roundIcon="@mipmap/ic_terminal_round"
            android:targetActivity=".terminal.Term">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="TermInternal"
            android:exported="false"
            android:icon="@mipmap/ic_terminal"
            android:targetActivity=".terminal.Term">
            <intent-filter>
                <action android:name="inure.terminal.private.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="inure.terminal.private.SWITCH_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".terminal.RemoteInterface"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_terminal">
            <intent-filter>
                <action android:name="inure.terminal.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="TermHere"
            android:exported="true"
            android:icon="@mipmap/ic_terminal"
            android:label="@string/activity_term_here_title"
            android:targetActivity=".terminal.RemoteInterface">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".terminal.RunScript"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_terminal"
            android:permission="inure.terminal.permission.RUN_SCRIPT">
            <intent-filter>
                <action android:name="inure.terminal.RUN_SCRIPT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".terminal.RunShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_terminal">
            <intent-filter>
                <action android:name="inure.terminal.RUN_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".terminal.shortcuts.AddShortcut"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:exported="true"
            android:icon="@mipmap/ic_terminal"
            android:label="@string/activity_shortcut_create"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".terminal.shortcuts.FSNavigator"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:icon="@mipmap/ic_terminal"
            android:label="@string/addshortcut_button_find_command"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".terminal.TermService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_terminal">
            <intent-filter>
                <action android:name="inure.terminal.action.START_TERM.v1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.AudioService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".services.BatchCopyService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="app.simple.inure.receivers.MediaButtonIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.ALL_APPS" />
        </intent>
    </queries>

</manifest>